.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 62rem;
  height: 47rem;
  background-color: white;
  position: relative;
  padding: 6rem 0rem;
  text-align: center;
}
